button {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight:80px;
    line-height: 34px;
    height: 50px;
    width: 80px;
    color:white;
    text-align: center;
    background-color: blue;
    border: 2px  solid black;
    font-size: 20px;


    &:hover {
              background-color: green;
            }


}
//     text-decoration: if($link-decoration == none, null, none);
//     white-space: $btn-white-space;
//     vertical-align: middle;
//     cursor: if($enable-button-pointers, pointer, null);
//     user-select: none;
//     @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
//     @include transition($btn-transition);
  
//     
  
//     .btn-check:focus + &,
//     &:focus {
//       outline: 0;
//       box-shadow: $btn-focus-box-shadow;
//     }
  
//     .btn-check:checked + &,
//     .btn-check:active + &,
//     &:active,
//     &.active {
//       @include box-shadow($btn-active-box-shadow);
  
//       &:focus {
//         @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
//       }
//     }
  
//     &:disabled,
//     &.disabled,
//     fieldset:disabled & {
//       pointer-events: none;
//       opacity: $btn-disabled-opacity;
//       @include box-shadow(none);
//     }
//   }